<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      chatter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">chatter</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item  (click)="presentModal()" >
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-label>
      <h2>Shivam Dwivedi</h2>
      <p>hi</p>
    </ion-label>
    <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
  </ion-item>
  <ion-item href="#" (click)="checkClick()" >
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-label>
      <h2>Shivendra</h2>
      <p>maggie ban gya hai..</p>
    </ion-label>
    <ion-badge color="success" slot="end">1</ion-badge>

    <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
  </ion-item>
  <ion-item href="#" (click)="checkClick()" >
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-label>
      <h2>Home</h2>
      <p>papa:sent a photo</p>
    </ion-label>
    <ion-badge color="success" slot="end">4</ion-badge>

    <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
  </ion-item>
  <ion-item href="#" (click)="checkClick()" >
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-label>
      <h2>Yariyan</h2>
      <p>yogi:killing ka startuo kholunga...</p>
    </ion-label>
    <ion-badge color="success" slot="end">44</ion-badge>
    <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
  </ion-item>






  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
